body {
    min-width: 960px;
    background: #000000 url("../img/background.png") no-repeat center top; 
    color: #ffffff;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 14px;
    font-family: "PT Sans Narrow", "Arial", sans-serif;
    line-height: 24px;
}

.clearfix::after {
    display: table;
    clear: both;
    content: "";
}

.main-header {
    margin-bottom: 60px;
    width: 100%;
    background-color: #000000;
    color: #ffffff;
}

.container {
    margin: 0 auto;
    padding-right: 10px;
    padding-left: 10px;
    width: 940px;
}

.main-navigation {
    float: left;
    min-height: 70px;
    width: 780px;
}

.main-navigation ul {
    margin: 0;
    padding: 0;
    list-style: none;
    font-size: 0;
}

.main-navigation li {
    display: inline-block;
    vertical-align: top;
    font-size: 16px;
    line-height: 20px;
}

.main-navigation a,
.main-navigation span {
    display: block;
    padding: 25px 20px;
    color: #ffffff;
    text-decoration: none;
}

.main-navigation a:hover {
    background-color: #242424;
}

.main-navigation .logo-inner {
    float: left;
    padding-top: 21px;
    width: 111px;
    height: 24px;
}

.main-navigation .logo-inner:hover {
    background: none;
}

.main-navigation .active {
    position: relative;
    background-color: none;
}

.main-navigation .active::after {
    position: absolute;
    right: 20px;
    bottom: 0;
    left: 20px;
    height: 4px;
    background-color: #ffffff;
    content: "";
}

.user-block {
    float: right;
    max-width: 140px;
}

.login {
    position: relative;
    display: inline-block;
    padding: 25px 20px;
    padding-left: 50px;
    color: #ffffff;
    vertical-align: top;
    text-decoration: none;
    font-size: 16px;
    line-height: 20px;
}

.login:hover {
    background-color: #242424;
}

.login::before {
    position: absolute;
    top: 27px;
    left: 20px;
    width: 18px;
    height: 16px;
    background: url("../img/sprites.png") no-repeat;
    background-position: -20px -154px;
    content: "";
    opacity: 0.3;
}

.login:hover::before {
    opacity: 1.0;
}

.index-logo {
    margin: 0 auto;
    margin-bottom: 30px;
    width: 368px;
    height: 204px;
}

.features {
    margin-bottom: 80px;
    text-align: center;
}

.features-name {
    position: relative;
    font-size: 30px;
    line-height: 38px;
}

.features-name::after {
    position: relative;
    top: 0;
    left: 50%;
    display: block;
    margin-top: 20px;
    margin-bottom: 30px;
    margin-left: -10px;
    width: 20px;
    height: 20px;
    background-color: #ffffff;
    content: "";
    transform: rotate(45deg);
}

.features-item {
    float: left;
    margin-right: 20px;
    min-height: 175px;
    width: 300px;
}

.features-item:last-child {
    margin-right: 0;
}

.index-content {
    margin-bottom: 35px;
    padding: 50px 80px;
    background: url("../img/shadow.png") no-repeat center, #f9f6f3 url("../img/content-background.jpg");
    color: #000000;
}

.index-content-title {
    margin: 0;
    margin-bottom: 35px;
    font-size: 30px;
    line-height: 36px;
}

.index-content ul {
    margin: 0;
    padding: 0;
    list-style: none;
    font-size: 14px;
    line-height: 24px;
}

.index-content li {
    margin-bottom: 30px;
}

.index-content p {
    margin-bottom: 0;    
}

.index-content > .index-content-left > p {
    margin-bottom: 30px;    
}

.index-content time {
    text-transform: lowercase;
    font-size: 14px;
    line-height: 24px;
}

.gallery-content {
    margin: 0;
    margin-bottom: 38px;
    width: 286px;
    height: 164px;
    border: 7px solid #ffffff;
}

.index-content-left {
    float: left;
    width: 380px;
    height: 40px;
}

.index-content-right {
    float: right;
    width: 300px;
}

.appointment-form {
    margin-top: 30px;
}

.appointment-form input {
    float: left;
    margin-right: 20px;
    margin-bottom: 20px;
    padding: 7px 15px;
    width: 105px;
    height: 25px;
    outline: none;
    border: 2px solid #000101;
    background-color: #f9f6f3;
    color: #000000;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 14px;
    font-family: "PT Sans Narrow", "Arial", sans-serif;
    line-height: 24px;
}

.appointment-form input:nth-child(2n) {
    margin: 0;
}

.appointment-form input:focus {
    border: 2px solid #663d15;
}

.appointment-form .btn {
    width: 100%;
}

.btn {
    display: inline-block;
    margin-right: 16px;
    padding: 10px 33px;
    outline: none;
    border: none;
    background-color: #000000;
    color: #ffffff;
    vertical-align: top;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 14px;
    font-family: "PT Sans Narrow", "Arial", sans-serif;
    line-height: 24px;
    cursor: pointer;
}

.btn:hover, 
.btn:active {
    background-color: #663d15;
}

.btn.disabled,
.btn:disabled {
    opacity: 0.5;
    cursor: default;
}

.btn.disabled:hover,
.btn:disabled:hover {
    background-color: #000000;
}

.gallery-prev {
    margin-left: 20;
    width: 140px; 
}

.gallery-next {
    margin: 0;
    width: 140px;    
}
/* --------------------------------- price.html ---------------------------------------*/

.price-page h2 {
	margin: 0;
	margin-top: 60px;
	margin-bottom: 30px;
	padding: 0;
	font-size: 24px;
	line-height: 32px;
}

.price-page h2 + h3 {
	margin-top: 30px;
}

.price-page table {
	border-collapse: collapse;
}

.price-page td {
	padding: 10px 15px;
	border: 2px solid #000000;
}

.big-heading {
	margin-top: 55px;
	margin-bottom: 65px;
	text-align: center;
}

.big-heading h2 {
	position: relative;
	z-index: 2;
	display: inline-block;
	margin: 0;
	padding: 0 25px;
	background: #f9f6f3 url("../img/content-background.jpg");
	font-size: 48px; 
	line-height: 60px;
}

.big-heading::after {
	position: relative;
	top: -30px;
	z-index: 1;
	display: block;
	border: 2px solid #000000;
	content: "";
}

.list-style1 {
	margin: 0;
	margin-left: 20px;
	padding: 0;
	list-style: none;
	font-size: 14px;
	line-height: 24px;
}

.list-style1 li {
	position: relative;
	margin-bottom: 15px;
}

.list-style1 li::before {
	position: absolute;
	top: 7.5px;
	left: -20px;
	width: 8px;
	height: 8px;
	background-color: #000000;
	content: "";
	transform: rotate(45deg);
}

.price-table {
	width: 100%
}

.price-table  td {
	width: 50%
}

.price-table  td:last-child {
	text-align: center;
}

.column-left {
	float: left;
	width: 460px;
}

.column-right {
	float: right;
	width: 460px;
}

.column-left *:first-child, 
.column-right *:first-child {
	margin-top: 0;
}

/*--------------------------------- shop.html ---------------------------------------*/

.shop-form {
    float: left;
    width: 220px;
}

.shop-form fieldset {
    margin: 0;
    padding: 0;
    border: none;
}

.shop-form legend {
    margin-bottom: 30px;
    padding-top: -px;
    font-size: 24px;
    line-height: normal;
}

.shop-form label {
    position: relative;
    display: block;
    margin-bottom: 15px;
    padding-left: 45px;
}

.shop-form label:last-child {
    margin-bottom: 45px;
}

.shop-form input[type="checkbox"] {
    display: none;
}

.shop-form input[type="checkbox"] + .checkbox-indicator {
    position: absolute;
    top: 2px;
    left: 0px;
    width:16px;
    height:16px;
    border: 2px solid #000000;
}

.shop-form input[type="checkbox"]:checked + .checkbox-indicator::before,
.shop-form input[type="checkbox"]:checked + .checkbox-indicator::after {
    position: absolute;
    top: 7px;
    left: 1px;
    width: 14px;
    height: 2px;
    background-color: #000000; 
    content: "";
}

.shop-form input[type="checkbox"]:checked + .checkbox-indicator::before {
    transform: rotate(45deg);
}

.shop-form input[type="checkbox"]:checked + .checkbox-indicator::after {
    transform: rotate(-45deg);
}

.shop-form input[type="radio"] {
    display: none;
}

.shop-form input[type="radio"] + .radio-indicator {
    position: absolute;
    top: 2px;
    left: 0px;
    width:16px;
    height:16px;
    border: 2px solid #000000;
    border-radius: 100px;
}

.shop-form input[type="radio"]:checked + .radio-indicator::before {
    position: absolute;
    top: 4px;
    left: 4px;
    width: 8px;
    height: 8px;
    border-radius: 100px;
    background-color: #000000; 
    content: "";
}

.goods {
    float:right;
    margin-top: 7px;
    width: 700px;
    font-size: 0;
}

.goods-article {
    display: inline-block;
    margin-right: 20px;
    margin-bottom: 20px;
    width: 220px;
    background-color: #ffffff;
    box-shadow: 0 0px 15px rgba(0, 0, 0, 0.2);
}

.goods-article:nth-child(3n) {
    margin-right: 0; 
}

.goods-article:last-child {
    margin-bottom: 45px; 
}

.goods-article img {
    margin-bottom: 15px;
    width: 220px;
    height: 165px;
}

.goods-name {
    margin-bottom: 10px;
    padding-left: 15px;
    font-size: 14px;
    line-height: 18px;
}

.goods-name a {
    color: #000000;
    text-decoration: none;
    text-transform: none;
}

.goods-buy {
    margin: 15px;
    background-color: #e5e5e5;
}

.goods-buy .price {
    display: inline-block;
    padding: 15px 0;
    width: 110px;
    height: 14px;
    vertical-align: top;
    text-align: center;
    font-size: 14px;
    line-height: 18px;
}

.paginator {
    font-size: 14px;
    line-height: 18px;
}

.paginator a{
    display: inline-block;
    margin-right: 7px;
    padding: 13px 0;
    width: 43px;
    height: 17px;
    background-color: #000000;
    color: #ffffff;
    vertical-align: top;
    text-align: center;
    text-decoration: none;
}

.paginator a:hover{
    background-color: #663d15;
}

.paginator .active{
    display: inline-block;
    margin-right: 7px;
    padding: 13px 0;
    width: 43px;
    height: 17px;
    background-color: #ffffff;
    color: #000000;
    vertical-align: top;
    text-align: center;
}

/*---------------------------------- item.html -----------------------------------------*/
.item-page,
.price-page,
.shop-page {
    background: #f9f6f3 url("../img/content-background.jpg") top;
    color: #000000;
}

.item-page h1 {
    margin-top: 55px;
    margin-bottom: 20px;
    padding: 0;
    font-size: 30px;
    line-height: 40px;
}

.breadcrumbs {
    margin-bottom: 55px;
}

.breadcrumbs ul {
    margin: 0;
    padding: 0;
    list-style: none;
    font-size: 0;
}

.breadcrumbs li {
    position: relative;
    display: inline;
    padding-right: 45px;
    font-size: 14px;
    line-height: 24px;
}

.breadcrumbs a {
    color: #000000;    
    text-decoration: none;
}

.breadcrumbs li::after {
    position: absolute;
    top: 5px;
    right: 18px;
    width: 8px;
    height: 8px;
    background-color: #000000;
    content: "";
    transform: rotate(45deg);
}

.breadcrumbs li:last-child::after {
    display: none;
    content: "";
}

.breadcrumbs .current {
    color: #aba9a7;
}

.product-photo {
    float: left;
    min-height: 670px;
    width: 462px;
}

.product-photo .active-photo {
    display: inline-block;
    margin-bottom: 20px;
    width: 460px;
    height: 498px;
    box-shadow: 0 0px 15px rgba(0, 0, 0, 0.2);
}

.product-photo .previev-photo {
    display: inline-block;
    margin-right: 18px;
    width: 140px;
    height: 149px;
    box-shadow: 0 0px 15px rgba(0, 0, 0, 0.2);
}

.product-photo .previev-photo:last-child {
    margin-right: 0;
}

.product-description {
    position: relative;
    float: right;
    min-height: 670px;
    width: 393px;
}

.product-description .available {
    display: inline-block;
    margin-bottom: 35px;
}

.product-description .article {
    float: right;
    color: #aeaeae;
}

.product-description .text {
    margin-bottom: 40px;
}

.price-info {
    margin-bottom: 63px;
    font-size: 0;
}

.price-info .price {
    display: inline-block;
    margin: 0;
    padding-top: 10px;
    width: 109px;
    height: 34px;
    background-color: #e5e5e5;
    vertical-align: top;
    text-align: center;
    font-size: 14px;
}

.btn-buy {
    margin: 0;
    padding: 10px 15px;
    width: 48px;
}

.package-list h2 {
    font-size: 24px;
    line-height: 36px;
}

.package-list ul {
    padding: 0;
    padding-left: 20px;
    list-style: none;
}

.package-list li {
    position: relative;
    font-size: 14px;
    line-height: 24px;
}

.package-list li::after {
    position: absolute;
    top: 8px;
    left: -16px;
    width: 8px;
    height: 8px;
    background-color: #000000;
    content: "";
    transform: rotate(45deg);
}

.main-footer {
    margin-top: 65px;
    padding-top: 45px;
    padding-bottom: 25px;
    width: 100%;
    background: #222222 url(../img/footer-background.jpg);
    color: #ffffff;
}

.item-page .main-footer,
.shop-page .main-footer,
.price-page .main-footer {
    background: url(../img/footer-shadow.png) repeat-x, #222222 url(../img/footer-background.jpg);
}

.footer-contacts {
    float: left;
    margin-right: 60px;
    width: 320px;
}

.footer-contacts a {
 color: #ffffff;    
}

.footer-social {
    float: left;
    width: 141px;
    text-align: center;
    font-size: 0;
}

.footer-social p {
    text-align: center;
    font-size: 14px;
}

.social-btn {
    display: inline-block;
    margin: 0;
    margin-right: 6px;
    width: 43px;
    height: 43px;
    background-color: #000000;
    vertical-align: top;
    font-size: 0;
}

.footer-social-vk {
    background: #000000 url("../img/sprites.png") no-repeat;
    background-position: -11px -24px;
}

.footer-social-vk:hover {
    background: #ffffff url("../img/sprites.png") no-repeat;
    background-position: -11px 12px;
}

.footer-social-fb {
    background: #000000 url("../img/sprites.png") no-repeat;
    background-position: -5px -296px;
}

.footer-social-fb:hover {
    background: #ffffff url("../img/sprites.png") no-repeat;
    background-position: -5px -254px;
}

.footer-social-inst {
    margin-right: 0;
    background: #000000 url("../img/sprites.png") no-repeat;
    background-position: -8px -103px; 
}

.footer-social-inst:hover {
    margin-right: 0;
    background: #ffffff url("../img/sprites.png") no-repeat;
    background-position: -8px -62px;
}

.footer-copyright {
    float: right;
    width: 140px;
    text-align: center;
}

.footer-copyright a {
    margin: 0;
    padding: 10px 0;
    width: 100%;
    text-align: center;
}

.footer-copyright .btn:hover {
    background-color: #ffffff;
    color: #000000;
}

.login-popup {
    position: absolute;
    top: 120px;
    left: 50%;
    z-index: 1000;
    display: none;
    margin-left: -230px;
    padding: 50px 80px;
    width: 300px;
    height: 285px;
    background: #f9f6f3 url("../img/content-background.jpg");
    box-shadow: 0 30px 50px rgba(0, 0, 0, 0.7);
    color: #000000;
}

.login-popup-show {
    display: block;
}
    
.login-close {
    position: absolute;
    top: 0;
    right: -35px;
    width: 25px;
    height: 25px;
    outline: 0;
    border: 0;
    background-color: transparent;
    cursor: pointer;
}

.login-close::before,
.login-close::after {
    position: absolute;
    top: 12px;
    right: 2px;
    width: 25px;
    height: 4px;
    background-color: #d1d1d1; 
    content: "";
}

.login-close::before {
    transform: rotate(45deg);
}

.login-close::after {
    transform: rotate(-45deg);
}

.login-popup h2 {
    margin: 0;
    margin-bottom: 20px;
    font-size: 30px;
    line-height: 42px;
}

.login-popup p {
    margin: 0;
    margin-bottom: 15px;
    font-size: 14px;
    line-height: 24px;
}

.login-form input[type="text"],
.login-form input[type="password"] {
    position: relative;
    margin-bottom: 10px;
    padding: 10px 15px;
    padding-right: 40px;
    width: 241px;
    height: 23px;
    outline: none;
    border: 2px solid #000101;
    background-color: #f9f6f3;
    color: #000000;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 14px;
    font-family: "PT Sans Narrow", "Arial", sans-serif;
    line-height: 24px;
}

.login-form input:focus {
    border: 2px solid #663d15;
}

.login-form input.icon-user {
    background-image: url("../img/sprites.png");
    background-position: 250px -215px;
    background-repeat: no-repeat;
}


.login-form input.icon-password {
    background-image: url("../img/sprites.png");
    background-position: 250px -178px;
    background-repeat: no-repeat;
}

.login-checkbox {
    position: relative;
    padding-left: 30px;
    cursor: pointer;
}
.login-checkbox input[type="checkbox"] {
    display: none;
}

.login-checkbox input[type="checkbox"] + .checkbox-indicator {
    position: absolute;
    top: -3px;
    left: 0px;
    width:16px;
    height:16px;
    border: 2px solid #000000;
}

.login-checkbox input[type="checkbox"]:checked + .checkbox-indicator::before,
.login-checkbox input[type="checkbox"]:checked + .checkbox-indicator::after {
    position: absolute;
    top: 7px;
    left: 1.5px;
    width: 14px;
    height: 2px;
    background-color: #000000; 
    content: "";
}

.login-checkbox input[type="checkbox"]:checked + .checkbox-indicator::before {
    transform: rotate(45deg);
}

.login-checkbox input[type="checkbox"]:checked + .checkbox-indicator::after {
    transform: rotate(-45deg);
}

.login-form a {
    float: right;
    color: #000000;
}

.login-form .btn {
    margin-top: 15px;
    width: 100%;
}

.map-popup {
    position: fixed;
    top: 50%;
    left: 50%;
    display: none;
    margin-top: -287px;
    margin-left: -390px;
    width: 762px;
    height: 556px;
    border: 9px solid #ffffff;
    background: #aba9a7 url(../img/map.jpg) no-repeat;
    box-shadow: 0 30px 50px rgba(0, 0, 0, 0.7);
}

.map-popup-show {
    display: block;
}

.map-popup iframe {
    border-width: 0;
}

.map-close {
    position: absolute;
    top: -9px;
    right: -44px;
    width: 25px;
    height: 25px;
    outline: 0;
    border: 0;    
    background-color: transparent;
    cursor: pointer;
}

.map-close::before,
.map-close::after {
    position: absolute;
    top: 12px;
    right: 2px;
    width: 25px;
    height: 4px;
    background-color: #d1d1d1; 
    content: "";
}

.map-close::before {
    transform: rotate(45deg);
}

.map-close::after {
    transform: rotate(-45deg);
}


/* ------------------------------------------------------------------- */






